.cas-tier-widget {
  min-height: 200px;
  min-width: 100%;
}

.cas-tier-widget-content {
  min-height: 200px;
  overflow-y: auto;
}

.cas-tier-widget-content > div, h1 {
  padding: 5px;
}

.cas-tier-widget-content h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.cas-MarkdownEditor {
  display: flex;
  overflow: auto;
  min-height: 100px;
}

.cas-markdown-editor-content {
  flex-grow: 1;
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
}

.cas-icon-area {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.cas-row-icon-area {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--jp-layout-color1);
  width: fit-content;
}

.cas-TierNotebookHeader {
  /* min-height: 200px !important; */
  padding: inherit;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
}

.cas-TierNotebookHeader-content {
  min-height: 200px;
  overflow-y: auto;
}

.cas-TierNotebookHeader-content-child {
  min-height: 200px;
}

.cas-CassiniCrumbs-box {
  position: relative;
  border-bottom: var(--jp-border-color2) solid 1px;
  padding: 5px;
}

.cas-CassiniCrumbs-row {
  display: flex;
  position: inherit;
}

.cas-CassiniCrumbs-row span {
  align-self: flex-end;
}

.cas-TierBrowser {
  height: 100%;
}

.cas-tier-name {
  font-weight: bold;
}

.cas-invalid-id {
  background-color: var(--jp-error-color3) !important;
}

div.cas-invalid-id * {
  background-color: var(--jp-error-color3) !important;
}

.cas-SplitPanel > .lm-SplitPanel-handle {
  background-color: var(--jp-layout-color3);
}

.cas-ChildrenTable-table h1 {
  padding: 5px;
}

.cas-ChildrenTable-table table {
  width: 100%;
  table-layout: auto;
}

.cas-ChildrenTable-table th {
  position: relative;
}

.cas-ChildrenSummaryWidget {
  height: 100px;
  overflow: auto;
}

.cas-table-resizer {
  position: absolute;
  right: -2px;
  top: 0;
  height: 100%;
  cursor: col-resize;
  width: 4px;
  background-color: white;
}

.cas-ChildrenTable-table tr:hover {
  background-color: var(--jp-layout-color2);
}

.cas-ChildrenSummaryTable-table {
  width: 100%;
  overflow: auto;
}

.cas-ChildrenSummaryTable-table tr:hover {
  background-color: var(--jp-layout-color2);
}

.cas-dialogue-input input {
  width: 100%;
}

.cas-dialogue-input textarea {
  width: 98%;
  resize: vertical;
  min-height: 75px;
}

.cas-floating-preview {
  top: 0;
  position: absolute;
  right: 0;
}

.cas-new-child-body {
  overflow: auto !important;
  min-width: 400px;
}

.cas-new-child-input {
  overflow: visible !important;
}
